<div class="p-6 bg-white rounded-lg border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
    <a href={{ url_for('products.product_page'
            if item.type == 'Products'
            else 'ingredients.ingredients_page', item_name=item.id) }}>
        <h5 class="mb-2 capitalize text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{ item.name }} </h5>
    </a>
    <p class="mb-3 truncate font-normal text-gray-700 dark:text-gray-400"> {{ item.description }} </p>
</div>