{% macro nav_link(origin, ctx, query) %}
    <div class="flex-col">
        <!-- Pagination Links-->

        <div class="text-right">
            <button type="button"
                    onclick="javascript:location.href='{{ url_for(origin, page=ctx.prev_num, q=query) }}'"
                    class="text-white bg-beige-200 hover:bg-beige-300 focus:ring-4 focus:outline-none
                    focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex
                    items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
                    {% if ctx.page == 1 %}cursor-not-allowed bg-gray-400 hover:bg-blue-800{% endif %}"
                    {% if ctx.page == 1 %}disabled{% endif %}
            >
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg" style="transform: rotate(180deg);">
                    <path fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586
                      11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Poprzenia strona</span>
            </button>
            <button type="button"
                    onclick="javascript:location.href='{{ url_for(origin, page=ctx.next_num, q=query) }}'"
                    class="text-white bg-beige-200 hover:bg-beige-300 focus:ring-4 focus:outline-none
                    focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex
                    items-center mr-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
                    {% if ctx.page == ctx.pages %}cursor-not-allowed bg-gray-400 hover:bg-blue-800{% endif %}"
                    {% if ctx.page == ctx.pages %}disabled{% endif %}
            >
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                          d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586
                      11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                          clip-rule="evenodd"></path>
                </svg>
                <span class="sr-only">Następna strona</span>
            </button>
        </div>

        <div class="grow">
            <p class="text-right mt-3 text-center pr-2">
                Strona {{ ctx.page }} z {{ ctx.pages }}
            </p>
        </div>
    </div>
{% endmacro %}