<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head %}
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/output.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.svg') }}">
</head>
<body class="bg-gradient-to-t from-beige-100 flex mr-0 p-0 flex-col justify-between"
      style="min-height: 100vh;">
{% include 'menu.html' %}
<div class=" h-full">{% block content %}{% endblock %}</div>
<footer class="bottom-0 rounded-lg md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 pl-3">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">2022 © Urszula Kwiek</span>
</footer>

<script src="https://unpkg.com/flowbite@1.5.1/dist/flowbite.js"></script>
</body>
</html>