<div>
    <p>
        Autorem niniejszego serwisu jest Urszula Kwiek.<br>
        Serwis stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji),
        przygotowanej pod kierunkiem dr. Piotra Śliwińskiego na Wydziale Zarządzania i Komunikacji Społecznej
        Uniwersytetu Jagiellońskiego.
    </p>
    <br>
    <p>
        Teksty wykorzystane na stronie pochodzą od polskich autorek książek, serwisów, blogów i sklepów internetowych o
        tematyce pielęgnacji włosów.
    </p>
    <br>

    <p>
        <h class="text-md font-semibold py-2">Bibliografia</h>
    <ul class="space-y-1 max-w-md list-disc list-inside text-gray-500 font-sans dark:text-gray-400">

        <li>Baranek K., Curly Girl Method Polska: Poznaj metodę w 4 łatwych krokach,
            <a href="https://www.cocolita.pl/" class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 16.08.2022.
        </li>
        <li>Cocolita, <a href="https://www.cocolita.pl/" class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.08.2022.
        </li>
        <li>Drogeria ekologiczna, <a href="https://www.cocolita.pl/"
                                     class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.08.2022.
        </li>
        <li>Facebook, Włosing, <a href="https://www.cocolita.pl/"
                                  class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.08.2022.
        </li>
        <li>gov.pl, WCAG 2.1 w skrócie, <a href="https://www.cocolita.pl/"
                                           class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp:
            15.08.2022.
        </li>
        <li>Hebe, <a href="https://www.cocolita.pl/" class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.08.2022.
        </li>
        <li>Kołomycew A., Humektanty czyli o tym jak dobrze nawilżać włosy,
            <a href="https://www.cocolita.pl/" class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 11.07.2022.
        </li>
        <li>Kołomycew A., Proteiny czyli budowa i odbudowa włosów,
            <a href="https://www.cocolita.pl/" class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 11.07.2022.
        </li>
        <li>Kołomycew A., Świadoma pielęgnacja, <a href="https://www.cocolita.pl/"
                                                   class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.07.2022.
        </li>
        <li>Krokusowe, <a href="https://www.cocolita.pl/" class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.08.2022.
        </li>
        <li>Loczek, <a href="https://www.cocolita.pl/" class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.08.2022.
        </li>
        <li>Na piękne włosy, <a href="https://www.cocolita.pl/"
                                class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.08.2022.
        </li>
        <li>Niedziałek A., Punkt rosy, <a href="https://www.cocolita.pl/"
                                          class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 03.08.2022.
        </li>
        <li>Niedziałek A., Robię włosing, czyli jak świadomie i skutecznie dbać o włosy, wyd. 2, Warszawa, Wydawnictwo
            Buchmann, 2021.
        </li>
        <li>Niedziałek A., Równowaga PEH, <a href="https://www.cocolita.pl/"
                                             class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 03.08.2022.
        </li>
        <li>Niedziałek A., Test porowatości, <a href="https://www.cocolita.pl/"
                                                class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 02.08.2022.
        </li>
        <li>Rossmann, <a href="https://www.cocolita.pl/" class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.08.2022.
        </li>
        <li>Super-Pharm, <a href="https://www.cocolita.pl/"
                            class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.08.2022.
        </li>
        <li>Triny, <a href="https://www.cocolita.pl/" class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 15.08.2022.
        </li>
        <li>Wikipedia, International Nomenclature of Cosmetic Ingredients,
            <a href="https://www.cocolita.pl/" class="font-bold text-beige-300 no-underline hover:underline">https://www.cocolita.pl/</a>
            dostęp: 19.07.2022.
        </li>

    </ul>
    </p>
    <br>

    <p>
        Grafiki i składy produktów użyte na stronie pochodzą ze stron sklepów internetowych:
    <ul class="space-y-1 max-w-md list-disc list-inside text-gray-500 dark:text-gray-400">
        <li>
            <a href="https://www.cocolita.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.cocolita.pl/
            </a>
        </li>
        <li>
            <a href="https://www.drogeria-ekologiczna.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.drogeria-ekologiczna.pl/
            </a>
        </li>
        <li>
            <a href="https://www.hebe.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.hebe.pl/
            </a>
        </li>
        <li>
            <a href="https://krokusowe.com/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://krokusowe.com/
            </a>
        </li>
        <li>
            <a href="https://www.loczek.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.loczek.pl/
            </a>
        </li>
        <li>
            <a href="https://napieknewlosy.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://napieknewlosy.pl/
            </a>
        </li>
        <li>
            <a href="https://www.rossmann.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.rossmann.pl/
            </a>
        </li>
        <li>
            <a href="https://www.superpharm.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.superpharm.pl/
            </a>
        </li>
        <li>
            <a href="https://www.triny.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.triny.pl/
            </a>
        </li>

    </ul>
    </p>
</div>