<div>
    <p>
        Autorem niniejszego serwisu jest Urszula Kwiek.<br>
        Serwis stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji),
        przygotowanej pod kierunkiem dr. Piotra Śliwińskiego na Wydziale Zarządzania i Komunikacji Społecznej
        Uniwersytetu Jagiellońskiego.
    </p>
    <br>
    <p>
        Teksty wykorzystane na stronie pochodzą od polskich autorek książek, serwisów, blogów i sklepów internetowych o
        tematyce pielęgnacji włosów.
    </p>
    <br>

    <p>
        <h class="text-md font-semibold py-2">Bibliografia</h>
        <p>
            Bibliografia dostępna jest jako plik do pobrania:
        </p>
    <ul class="space-y-1 max-w-md list-disc list-inside font-bold text-beige-300 no-underline ">
        <li> <a href="{{ url_for('static', filename='docs/Bibliografia.pdf') }}" class="hover:underline">pdf</a> </li>
        <li> <a href="{{ url_for('static', filename='docs/Bibliografia.docx') }}" class="hover:underline">docx</a> </li>
    </ul>
    </p>
    <br>

    <p>
        Grafiki i składy produktów użyte na stronie pochodzą ze stron sklepów internetowych:
    <ul class="space-y-1 max-w-md list-disc list-inside text-gray-500 dark:text-gray-400">
        <li>
            <a href="https://www.cocolita.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.cocolita.pl/
            </a>
        </li>
        <li>
            <a href="https://www.drogeria-ekologiczna.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.drogeria-ekologiczna.pl/
            </a>
        </li>
        <li>
            <a href="https://www.hebe.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.hebe.pl/
            </a>
        </li>
        <li>
            <a href="https://krokusowe.com/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://krokusowe.com/
            </a>
        </li>
        <li>
            <a href="https://www.loczek.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.loczek.pl/
            </a>
        </li>
        <li>
            <a href="https://napieknewlosy.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://napieknewlosy.pl/
            </a>
        </li>
        <li>
            <a href="https://www.rossmann.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.rossmann.pl/
            </a>
        </li>
        <li>
            <a href="https://www.superpharm.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.superpharm.pl/
            </a>
        </li>
        <li>
            <a href="https://www.triny.pl/"
               class="font-bold text-beige-300 no-underline hover:underline">
                https://www.triny.pl/
            </a>
        </li>

    </ul>
    </p>
</div>