<div>
    <h class="text-md font-semibold py-2">Czym jest włosing?</h>
    <p>
        To świadoma i dobra pielęgnacja włosów. Z naciskiem na ŚWIADOMA. Świadoma, czyli dopasowana
        do Twoich włosów i skóry głowy, precyzyjnie odpowiadająca na twoje potrzeby, które wciąż się
        zmieniają - musi więc być również ELASTYCZNA! Musi dopasowywać się do zmian zachodzących w
        stanie i strukturze włosów. Jaka jeszcze jest świadoma pielęgnacja włosów? OSZCZĘDNA!
        Dzięki niej unikniesz zakupowych wpadek.
    </p>
    <p>
        Pielęgnacja świadoma to pielęgnacja RZETELNA! Uzupełniona wiedzą z zakresu budowy i
        funkcjonowania naszego ciała, biochemii, chemii, podstaw technologii kosmetycznej.
        Dzięki naukowemu fundamentowi połączysz pewne zależności i zasady, na przykład te dotyczące
        korzystania z odżywek i szamponów.
    </p>

    <br><br>
    <h class="text-md font-semibold py-2">Równowaga PEH</h>
    <br>
    <p>
        Najważniejszy filar w pielęgnacji włosów to oczywiście zachowanie równowagi między
        stosowaniem produktów z Proteinami, Emolientami i Humektantami. Więcej o PEH poczytaj w
        dedykowanych zakładkach lub pod poniższymi linkami:
    </p>
    <p>
        <a href="https://wwwlosy.pl/rownowaga-peh/"
           class="font-bold text-beige-300 no-underline hover:underline">Agnieszka Niedziałek o PEH</a>
    </p>
    <p>
        <a href="https://www.anwen.pl/2015/02/humektanty-emolienty-proteiny-jak-w.html"
           class="font-bold text-beige-300 no-underline hover:underline">Anna Kołomycew “Anwen” o PEH</a>
    </p>

    <br><br>
    <h class="text-md font-semibold py-2">Porowatość włosów</h>
    <p>
        Porowatość włosów, to naturalny poziom rozchylenia łusek włosa i powiązane z tym cechy.
        Działanie niekorzystnych czynników zewnętrznych takich jak środki chemiczne, wysoka
        temperatura, promieniowanie UV, tarcie mechaniczne powoduje zmianę w architekturze łusek,
        uszkadzając niejednokrotnie i degradując strukturę całego włosa. Dlatego odpowiednia
        pielęgnacja, dobór wielkości substancji aktywnych ma niezmiernie istotne znaczenie dla
        wzmacniania naturalnej bariery ochronnej włosów, jak i kontroli transportu substancji
        aktywnych. Zrób test na porowatość i dowiedz się jakie składniki pasują
        Twojemu typowi włosów!
    </p>
    <a href="https://hairytale.eu/test-porowatosci/"
       class="font-bold text-beige-300 no-underline hover:underline">Test porowatości włosów</a>

    <br><br>
    <h class="text-md font-semibold py-2">Punkt rosy</h>
    <br>
    <p>
        Czym jest punkt rosy? Z definicji to temperatura, w której rozpoczyna się proces skraplania
        pary wodnej. To miara zawartości wilgoci w powietrzu przy danym ciśnieniu i temperaturze.
        Punkt rosy ma znaczenie w zachowaniu równowagi PEH.
    </p>

    <br>
    <ul class="space-y-1 max-w-md list-disc list-inside text-gray-500 dark:text-gray-400">
        <li>Przy ujemnym punkcie rosy <a class="font-semibold">(od −10°C do −1°C)</a> unikajcie humektantów.</li>
        <li><a class="font-semibold">Od −1°C do 6°C</a> można użyć produktu, który ma humektanty dalej w składzie lub
            jest to pantenol
            (z reguły nie puszy on włosów).
        </li>
        <li><a class="font-semibold">Powyżej 8°C</a> zwykle nie ma problemu z humektantami.</li>
        <li><a class="font-semibold">Powyżej 22°C</a> jest już zbyt wilgotno na użycie humektantów = ponowne puszenie
            się włosów. Stosujcie cięższe
            emolienty, a jeśli macie kręcone włosy – można użyć silikonów lub wosków.
        </li>
    </ul>
    <p>
    <a href="https://wwwlosy.pl/punkt-rosy/"
       class="font-bold text-beige-300 no-underline hover:underline">Poczytaj więcej i sprawdź aktualny punkt rosy!</a>
        </p>
    <br>

    <p>
        Jeśli chcesz dołączyć do społeczności włosomaniaków, zajrzyj na grupę Włosing na Facebooku, dedykowaną świadomej
        pielęgnacji włosów!
        <a href="https://www.facebook.com/groups/wlosing"
           class="font-bold text-beige-300 no-underline hover:underline">Włosing</a>
    </p>

    <br>
    <p>
        Twoje włosy chcą się kręcić, ale nie umiesz wydobyć z nich wymarzonego skrętu? Dołącz do grupy Curly Girls
        Polska, gdzie dowiesz się jak dbać o loki!
        <br>
        <a href="https://www.facebook.com/groups/curlygirlspolska"
           class="font-bold text-beige-300 no-underline hover:underline">Curly Girls Polska</a>
    </p>
</div>